<ion-view view-title="首页">
  <ion-content>
    <img class="full-image" src="view/home/images/androidbanner.png" alt="">
    <div class="row padding-left stable-bg">
      <div class="col stable-bg">
        <h6>今日</h6>
        <p class="income">1200.00<span class="yuan">元</span></p>
        <p>比昨天：<span class="balanced">+100.00</span><i class="icon ion-arrow-right-a balanced"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本周周报表</h6>
        <p class="income">1200.00<span class="yuan">元</span></p>
        <p>周期：330.9<i class="icon ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p class="income">2500.00<span class="yuan">元</span></p>
        <p>同期：430.78<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" ui-sref="app.category-list">
          <i class="icon ion-social-buffer">
          </i>
          <h5>商品类别</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" ui-sref="app.product-add">
          <i class="icon ion-skip-backward">
          </i>
          <h5>主要商品</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" ui-sref="app.product-list">
          <i class="icon ion-skip-forward">
          </i>
          <h5>商品管理</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-wineglass">
          </i>
          <h5>酒类商品</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
      <a class="tab-item shortcut" href="">
        <i class="icon ion-android-desktop">
        </i>
        <h5>台式电脑</h5>
      </a>
    </div>
    </div>

    <div class="row row-no-padding quick-actions">
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-laptop">
          </i>
          <h5>笔记本电脑</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-phone-portrait">
          </i>
          <h5>智能手机</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-camera">
          </i>
          <h5>全能相机</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-bus">
          </i>
          <h5>滴滴打车</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
      <a class="tab-item shortcut" href="">
        <i class="icon ion-android-train">
        </i>
        <h5>一号地铁</h5>
      </a>
    </div>
    </div>

    <div class="row row-no-padding quick-actions">
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-plane">
          </i>
          <h5>机票</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-boat">
          </i>
          <h5>船票</h5>
        </a>
      </div>
      <div class="col col-20 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-plus-circled">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>

    </div>

  </ion-content>
  <company-directive bottom="10px"></company-directive>
</ion-view>
